%h2= t('title_contribute_guides')

%h4= t('title_contribute_guides_steps')
%ul
  %li
    %strong= t('contribute_guides_create')
    %ul
      %li= t('contribute_guides_choosemodule')
      %li= t('contribute_guides_createmetadata')
      %li
        = t('contribute_createa')
        %a.social.foundicon-github{ :href => t('link_project_newissue_url') }
          = t('link_project_newissue_title')
        = t('contribute_guides_include')
      %li
        = t('contribute_guides_approved')
        = t('acronym')
        = t('contribute_guides_seeincontributors')
