%h2= t('title_contribute_website')

%h4= t('title_contribute_website_steps')
%ul
  %li
    %a.social.foundicon-github{ :href => t('link_project_fork_url') }
      = t('link_project_fork_title')
  %li= t('contribute_website_modify')
  %li
    Make a
    %a.social.foundicon-github{ :href => t('link_project_pull_url') }
      = t('link_project_pull_title')
