%h2= t('contribute_website_title')

%h4= t('contribute_website_steps_title')
%ul
  %li
    %a.social.foundicon-github{ :href => t('g_link_project_fork_url') }
      = t('g_link_project_fork_title')
  %li= t('g_r_modify_the_website').capitalize
  %li
    Make a
    %a.social.foundicon-github{ :href => t('g_link_project_pull_url') }
      = t('g_link_project_pull_title')
