- content_for(:title) { t('homepage_title') }


#main.large-12.columns.page-index

  -# == Presentation ===========================================================

  #presentation-wrp.row
    #presentation.large-12.columns
      .panel.rounded

        -# == Logo & Title =====================================================

        .row
          #logo-wrp.large-5.columns= image_tag 'logo.svg', :id => 'logo'
          #title-wrp.large-7.columns
            %h1#title= t('g_title')

        -# == Description ======================================================

        .row
          .large-8.columns.centered
            %h3#description.subheader= t('g_motto')

  %hr

  -# == Informations ===========================================================

  #info-wrp.row
    #info

      -# == Features ===========================================================

      #features-wrp.large-7.columns
        #features.panel.rounded

          #features-title-wrp
            %h3#features-title.general.foundicon-idea= " #{t('features_title')}"

          %dl#features-items
            - @awesootup_features.each do |awesootup_feature|
              .feature-item
                - if awesootup_feature.content
                  %dt.feature-item-title= awesootup_feature.name
                  %dd.feature-item-content= awesootup_feature.content
                - else
                  %strong.feature-item-title= awesootup_feature.name

      -# == News ===============================================================

      #news-wrp.large-5.columns
        #news.panel.rounded

          #news-title-wrp
            %h3#news-title.general.foundicon-flag= " #{t('news_title')}"

          %dl#news-items
            - @awesootup_news.each do |awesootup_news_item|
              .news-item
                - if awesootup_news_item.content
                  %dt.news-item-title= awesootup_news_item.name
                  %dd.news-item-content= awesootup_news_item.content
                - else
                  %strong.news-item-title= awesootup_news_item.name

  %hr

  -# == GuideBuilder ===========================================================
  / #guidebuilder-wrp.row
  /   #guidebuilder.large-12.columns
  /     .panel.rounded
  /       %h4#guidebuilder-title= t('title_guidebuilder')
  /       .section-container.tabs{ :'data-section' => '' }

  /         -# == GuideBuilder Standalone ========================================

  /         %section#guidebuilder-standalone.section

  /           -# == GuideBuilder Standalone - Title ==============================

  /           %p#guidebuilder-standalone-title-wrp.title
  /             %a#guidebuilder-standalone-title{ :href => '#guidebuilder-standalone' }
  /               %i.general.foundicon-checkmark= " #{t('title_guidebuilder_standalone')}"

  /           -# == GuideBuilder Standalone - Content ============================

  /           #guidebuilder-standalone-content.content
  /             .row
  /               .large-8.columns
  /                 %h5= t('title_guidebuilder_standalone_subtitle')
  /               .large-4.columns
  /                 %a#start-standalone-guide.radius.button
  /                   = t('g_r_start_now').capitalize

  /             %hr

  /             / TODO Here will be inserted the standalone awesootup widget

  /         -# == GuideBuilder Popular ===========================================

  /         %section#guidebuilder-popular.section

  /           -# == GuideBuilder Popular - Title =================================

  /           %p#guidebuilder-popular-title-wrp.title
  /             %a#guidebuilder-popular-title{ :href => '#guidebuilder-popular' }
  /               %i.general.foundicon-star= " #{t('title_guidebuilder_popular')}"

  /           -# == GuideBuilder Popular - Content ===============================

  /           #guidebuilder-popular-content.content
  /             .row
  /               .large-8.columns
  /                 %h5= t('title_guidebuilder_popular_subtitle')
  /               .large-4.columns
  /                 %a#start-popular-guide.radius.button
  /                   = t('g_r_start_now').capitalize

  /         -# == GuideBuilder Custom ============================================

  /         %section#guidebuilder-custom.section

  /           -# == GuideBuilder Custom - Title ==================================

  /           %p#guidebuilder-custom-title-wrp.title
  /             %a#guidebuilder-custom-title{ :href => '#guidebuilder-custom' }
  /               %i.general.foundicon-tools= " #{t('title_guidebuilder_custom')}"

  /           -# == GuideBuilder Custom - Content ================================

  /           #guidebuilder-custom-content.content
  /             .row
  /               .large-8.columns
  /                 %h5= t('title_guidebuilder_custom_subtitle')
  /               .large-4.columns
  /                 %a#start-custom-guide.radius.button
  /                   = t('g_r_start_now').capitalize
