- content_for(:title) { 'Homepage' }


#main.large-12.columns.page-index

  -# == Presentation ===========================================================

  #presentation-wrp.row
    #presentation.large-12.columns
      .panel.rounded

        -# == Logo & Title =====================================================

        .row
          #logo-wrp.large-5.columns= image_tag 'logo.svg', :id => 'logo'
          #title-wrp.large-7.columns
            %h1#title= @kb.ask(:website_info)[:title]

        -# == Description ======================================================

        .row
          .large-8.columns.centered
            %h3#description.subheader= @kb.ask(:website_info)[:motto]

  %hr

  -# == Informations ===========================================================

  #info-wrp.row
    #info

      -# == Features ===========================================================

      #features-wrp.large-7.columns
        #features.panel.rounded

          %h4#features-title= @kb.ask(:website_content)[:features][:title]

          %ul#features-items

            - @kb.ask(:website_content)[:features][:listing].each do |feature|
              - basic_class = 'feature'
              - basic_id = "#{basic_class}-#{feature[:id]}"

              -# Feature
              %li{ :id => basic_id, :class => basic_class }

                -# Feature title
                %strong{ :id => "#{basic_id}-title", :class => "#{basic_class}-title" }= feature[:title]

                -# Feature content
                != typed_content(feature[:type], feature[:content], basic_id, basic_class)

      -# == News ===============================================================

      #news-wrp.large-5.columns
        #news.panel.rounded

          %h4#news-title= @kb.ask(:website_content)[:news][:title]

          %ul#news-items
            - @kb.ask(:website_content)[:news][:listing].each do |news_item|
              %li.news-item
                - if news_item.is_a?(Hash)
                  %dl
                    %dt= news_item[:title]
                    %dd= news_item[:content]
                - else
                  = news_item

  %hr

  -# == AwesootupBuilder =======================================================
  #awesootupbuilder-wrp.row
    #awesootupbuilder.large-12.columns
      .panel.rounded
        %h4#awesootupbuilder-title Awesootup Builder
        .section-container{ :'data-section' => '' }

          -# == AwesootupBuilder Standalone ====================================

          %section#awesootup-builder-standalone.section

            %p#awesootup-builder-standalone-title-wrp.title
              %a#awesootupbuilder-standalone-title{ :href => '#awesootupbuilder-standalone' }
                %i.general.foundicon-checkmark Standalone

            #awesootup-builder-standalone-content.content
              .row
                .large-8.columns
                  %h5
                    The standalone awesootup is the classic one, containing all
                    of the basic modules, featuring a complete setup.
                .large-4.columns
                  %a#start-standalone-awesootup.radius.button Start now

              %hr

              These are the selected modules:
              / Here will be inserted the standalone awesootup widget

          -# == AwesootupBuilder Popular =======================================

          %section#awesootup-builder-popular.section

            %p#awesootup-builder-popular-title-wrp.title
              %a#awesootupbuilder-popular-title{ :href => "#awesootupbuilder-popular" }
                %i.general.foundicon-star Popular

            #awesootup-builder-popular-content.content
              The following awesootups are the most popular ones:

          -# == AwesootupBuilder Custom ========================================

          %section#awesootup-builder-custom.section

            %p#awesootup-builder-custom-title-wrp.title
              %a#awesootupbuilder-custom-title{:href => "#awesootupbuilder-custom"}
                %i.general.foundicon-tools   Custom

            #awesootup-builder-custom-content.content
              Create your custom awesootup by selecting the desired modules and
              by placing them in your desired order:
