- content_for(:title) { 'Homepage' }


#main.large-12.columns.page-index

  -# == Presentation ===========================================================

  #presentation-wrp.row
    #presentation.large-12.columns
      .panel.rounded

        -# == Logo & Title =====================================================

        .row
          #logo-wrp.large-5.columns= image_tag 'logo.svg', :id => 'logo'
          #title-wrp.large-7.columns
            %h1#title= @kb.ask(:website_info)[:title]

        -# == Description ======================================================

        .row
          .large-8.columns.centered
            %h3#description.subheader= @kb.ask(:website_info)[:motto]

  %hr

  -# == Informations ===========================================================

  #info-wrp.row
    #info

      -# == Features ===========================================================

      #features-wrp.large-7.columns
        #features.panel.rounded

          %h4#features-title= @kb.ask(:features)[:title]

          %ul#features-items

            - @kb.ask(:features)[:listing].each do |feature|
              - basic_class = 'feature'
              - basic_id = "#{basic_class}-#{feature[:id]}"

              -# Feature
              %li{ :id => basic_id, :class => basic_class }

                -# Feature title
                %strong{ :id => "#{basic_id}-title", :class => "#{basic_class}-title" }= feature[:title]

                -# Feature content
                - if feature.has_key?(:content)
                  != typed_content(feature[:type], feature[:content], basic_id, basic_class)

      -# == News ===============================================================

      #news-wrp.large-5.columns
        #news.panel.rounded

          %h4#news-title= @kb.ask(:news)[:title]

          #news-items
            - @kb.ask(:news)[:listing].each do |news_item|
              .news-item-wrp
                - if news_item.is_a?(Hash)
                  %dl.news-item
                    %dt.news-item-title= news_item[:title]
                    %dd.news-item-content= news_item[:content]
                - else
                  %p.news-item= news_item

  %hr

  -# == GuideBuilder ===========================================================
  #guidebuilder-wrp.row
    #guidebuilder.large-12.columns
      .panel.rounded
        %h4#guidebuilder-title= @kb.ask(:guide_builder)[:title]
        .section-container.tabs{ :'data-section' => '' }

          -# == GuideBuilder Standalone ========================================

          %section#guidebuilder-standalone.section

            -# == GuideBuilder Standalone - Title ==============================

            %p#guidebuilder-standalone-title-wrp.title
              %a#guidebuilder-standalone-title{ :href => '#guidebuilder-standalone' }
                %i.general.foundicon-checkmark
                  = @kb.ask(:guide_builder)[:standalone][:title]

            -# == GuideBuilder Standalone - Content ============================

            #guidebuilder-standalone-content.content
              .row
                .large-8.columns
                  %h5= @kb.ask(:guide_builder)[:standalone][:subtitle]
                .large-4.columns
                  %a#start-standalone-guide.radius.button Start now

              %hr

              / TODO Here will be inserted the standalone awesootup widget

          -# == GuideBuilder Popular ===========================================

          %section#guidebuilder-popular.section

            -# == GuideBuilder Popular - Title =================================

            %p#guidebuilder-popular-title-wrp.title
              %a#guidebuilder-popular-title{ :href => '#guidebuilder-popular' }
                %i.general.foundicon-star
                  = @kb.ask(:guide_builder)[:popular][:title]

            -# == GuideBuilder Popular - Content ===============================

            #guidebuilder-popular-content.content
              .row
                .large-8.columns
                  %h5= @kb.ask(:guide_builder)[:popular][:subtitle]
                .large-4.columns
                  %a#start-popular-guide.radius.button Start now

          -# == GuideBuilder Custom ============================================

          %section#guidebuilder-custom.section

            -# == GuideBuilder Custom - Title ==================================

            %p#guidebuilder-custom-title-wrp.title
              %a#guidebuilder-custom-title{ :href => '#guidebuilder-custom' }
                %i.general.foundicon-tools
                  = @kb.ask(:guide_builder)[:custom][:title]

            -# == GuideBuilder Custom - Content ================================

            #guidebuilder-custom-content.content
              .row
                .large-8.columns
                  %h5= @kb.ask(:guide_builder)[:custom][:subtitle]
                .large-4.columns
                  %a#start-custom-guide.radius.button Start now
