%table#about-contributors-listing.large-12

  %thead#about-contributors-listing-header
    %tr
      %th= t('g_r_name').titleize
      %th= t('g_r_contact').titleize
      %th= t('g_r_contributions').titleize

  %tbody#about-contributors-listing-body

    -# == Author contributions =================================================

    %tr
      %td
        %h6
          %a{ :href => t('g_link_author_homepage_url') }= t('g_author_name')
      %td
        %a{ :href => "mailto:#{t('g_author_email')}" }= t('g_author_email')
      %td
        %span.success.label= t('g_author_role')

    -# == Contributors contributions ===========================================

    - @contributors.each do |contributor|
      %tr
        %td
          - if contributor.website
            %h6
              %a{:href => contributor.website}= contributor.name
          - else
            %h6= contributor.name
        %td
          - if contributor.email
            %a{:href => "mailto:#{contributor.email}"}= contributor.email
          - else
            = '---'
        %td
          - if contributor.contribution
            %span= contributor.contribution
          - else
            = '---'
