%table#about-contributors-listing.large-12

  %thead#about-contributors-listing-header
    %tr
      %th= t('title_contributorstable_name')
      %th= t('title_contributorstable_contact')
      %th= t('title_contributorstable_contributions')

  %tbody#about-contributors-listing-body

    -# == Author contributions =================================================

    %tr
      %td
        %h6
          %a{ :href => t('author_website') }= t('author_name')
      %td
        %a{ :href => "mailto:#{t('author_email')}" }= t('author_email')
      %td
        %span.success.label= t('author_role')

    -# == Contributors contributions ===========================================

    - @contributors.each do |contributor|
      %tr
        %td
          - if contributor.website
            %h6
              %a{:href => contributor.website}= contributor.name
          - else
            %h6= contributor.name
        %td
          - if contributor.email
            %a{:href => "mailto:#{contributor.email}"}= contributor.email
          - else
            = '---'
        %td
          - if contributor.contribution
            %span= contributor.contribution
          - else
            = '---'
