#about-project-info

  .panel

    -# == About the project - Info - Copyright =================================
    #about-project-info-copyright-wrp
      %p#about-project-info-copyright
        = t('copyright').capitalize
        ©
        = Time.now.strftime('%Y')
        %strong= t('author_name')
        %em
        \.
        = t('copyright_allrights')

    -# == About the project - Info - License ===================================
    #about-project-info-license-wrp
      %p#about-project-info-license
        = t('license_releasedunder')
        %a{ :href => t('license_website') }
          %span.label= "#{t('license_name')} #{t('license').downcase}"
