#about-project-info

  .panel

    -# == About the project - Info - Copyright =================================
    #about-project-info-copyright-wrp
      %p#about-project-info-copyright
        = t('g_r_copyright').capitalize
        ©
        = Time.now.strftime('%Y')
        %strong= t('g_author_name')
        %em
        \.
        = t('g_r_all_rights_reserved').capitalize

    -# == About the project - Info - License ===================================
    #about-project-info-license-wrp
      %p#about-project-info-license
        = t('g_r_all_of_the_content_is_released_under_the').capitalize
        %a{ :href => t('g_link_license_url') }
          %span.label= "#{t('g_link_license_title')} #{t('g_r_license')}"
