%nav.top-bar

  -# == Title Area =======================================================

  %ul.title-area
    %li.name
      %h1= link_to(t('g_acronym'), '#')
    %li.toggle-topbar.menu-icon
      %a{ :href => '#' }
        %span= t('g_r_menu').titleize

  -# == Navigation =======================================================

  %section.top-bar-section

    -# == Left Navigation ================================================

    %ul.left
      %li
      %li.has-dropdown
        %a.general.foundicon-page= " #{t('awesootupmodules_title')}"
        %ul.dropdown

          %li= link_to t('g_r_browse').titleize, awesootup_modules_path

          %li.divider
          %li= link_to(t('g_r_create').titleize, new_awesootup_module_path)

          %li.divider
          %li
            %label= t('g_r_edit').titleize
          %li.has-form
            %form
              .row.collapse
                .small-9.columns
                  = text_field_tag t('g_r_name').titleize, nil, :placeholder => t('g_r_module_name').titleize
                .small-3.columns
                  = button_to t('g_r_edit').titleize, awesootup_modules_path, :method => :edit, :class => 'button prefix'

          %li.divider
          %li
            %label= t('g_r_remove').titleize
          %li.has-form
            %form
              .row.collapse
                .small-9.columns
                  = text_field_tag t('g_r_name').titleize, nil, :placeholder => t('g_r_module_name').titleize
                .small-3.columns
                  = button_to t('g_r_rem').titleize, awesootup_modules_path, :method => :delete, :class => 'alert button prefix'

    -# == Right Navigation ===============================================

    %ul.right

      %li.has-dropdown
        %a.general.foundicon-heart= " #{t('contribute_title')}"
        %ul.dropdown
          %li= link_to(t('g_r_website').titleize, contribute_path(:website))
          %li.divider
          %li= link_to(t('g_r_guides').titleize, contribute_path(:guides))
          %li= link_to(t('g_r_modules').titleize, contribute_path(:modules))

      %li.has-dropdown
        %a.social.foundicon-torso= " #{t('g_auth_title')}"
        %ul.dropdown
          %li= render 'sessions/new'

      %li
        -# TODO
        = link_to " #{t('about_title')}", 'javascript:void(0)', :class => 'social foundicon-torso go-to-bottom trigger-click', :'data-trigger-click-target' => '#about-project-title'
