- content_for(:title) { t('awesootupmodules_title') }

.row
  #awesootup-index-title-wrp.large-8.columns
    %h1#awesootup-index-title= t('awesootupmodules_available_title')
  #awesootup-index-search-wrp.large-4.columns
    = form_tag(awesootup_modules_path, :method => 'get', :id => 'awesootup-index-search') do
      = hidden_field_tag :filtering, true
      .row
        .large-12.columns
          = text_field_tag(:search_value, nil, :placeholder => "#{t('g_r_search').titleize}...")
      .row
        .large-12.columns
          %ul.button-group
            %li= submit_tag(t('g_r_search').titleize, :name => :type, :class => 'small button')
            %li= submit_tag(t('g_r_deep_search').titleize, :name => :type, :class => 'small button')

.section-container.accordion{ :'data-section' => 'accordion' }
  - @awesootup_modules.each do |awesootup_module|
    %section.section.awesootup-module
      %p.title.awesootup-module-title
        %a{ :href => '#' }= "\##{awesootup_module[:id]} #{awesootup_module[:name]}"
      .content
        .row
          .large-6.columns
            %h3.awesootup-module-name= awesootup_module[:name].capitalize
          .large-6.columns
            %ul.button-group
              %li= link_to_alternatives(awesootup_module[:id], false)
              %li= link_to_alternatives(awesootup_module[:id], true)
              %li= link_to_equally_satisfied(awesootup_module[:id], false)
              %li= link_to_equally_satisfied(awesootup_module[:id], true)
        .row
          - if awesootup_module.author.nil?
            .large-12.columns.awesootup-module-description-wrp
              %p.awesootup-module-description= awesootup_module[:desc]
              = render_features(awesootup_module)
          - else
            .large-7.columns.awesootup-module-description-wrp
              %p.awesootup-module-description= awesootup_module[:desc]
              = render_features(awesootup_module)
            .large-5.columns.awesootup-module-author-wrp.panel
              %h4 Author
              %dl.awesootup-module-author
                %dt.awesootup-module-author-name-title= t('g_r_name').titleize
                %dd.awesootup-module-author-name= awesootup_module.author[:name]
                %dt.awesootup-module-author-email-title= t('g_r_email').titleize
                %dd.awesootup-module-author-email= awesootup_module.author[:email] or '---'
                %dt.awesootup-module-author-website-title= t('g_r_website').titleize
                %dd.awesootup-module-author-website= awesootup_module.author[:website] or '---'
