!!! 5
%html{ :lang => 'en' }

  -# == Head ===================================================================

  %head

    -# Use UTF-8 as the encoding
    %meta{ :charset => 'utf-8' }
    -# IE compatibility
    %meta{ :content => 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible' }
    -# Set the viewport width to device width for mobile
    %meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }
    -# Set the author informations
    %meta{ :content => t('g_author_name'), :name => 'author' }
    -# Set the website description
    %meta{ :content => t('g_desc'), :name => 'description' }

    %title
      = t('g_title')
      - if content_for?(:title)
        = yield(:title)

    = stylesheet_link_tag 'application'
    = javascript_include_tag "vendor/custom.modernizr"

    = csrf_meta_tags

  -# == Body ===================================================================

  %body

    -# == ChromeFrame (for IE) =================================================
    = yield :chrome_frame

    -# == Menu =================================================================
    = render 'partials/menu_top'

    -# == Main content =========================================================
    #main-wrp.row= yield

    -# == Footer ===============================================================
    %footer{ :id => 'footer-wrp', :class => 'row full-width' }
      = render 'partials/footer'

    -# == Javascripts ==========================================================
    = javascript_include_tag 'application'
