!!! 5
%html{ :lang => 'en' }

  -# == Head ===================================================================

  %head

    -# Use UTF-8 as the encoding
    %meta{ :charset => 'utf-8' }
    -# IE compatibility
    %meta{ :content => 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible' }
    -# Set the viewport width to device width for mobile
    %meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }
    -# Set the author informations
    %meta{ :content => t('author_name'), :name => 'author' }
    -# Set the website description
    %meta{ :content => t('desc'), :name => 'description' }

    %title
      = t('title')
      - if content_for?(:title)
        = yield(:title)

    = stylesheet_link_tag 'application'
    = javascript_include_tag "vendor/custom.modernizr"

    = csrf_meta_tags

  -# == Body ===================================================================

  %body

    /[if lt IE 7]
      <p class="chromeframe">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> or
      <a href="http://www.google.com/chromeframe/?redirect=true">activate Google
      Chrome Frame</a>
      to improve your experience.</p>

    -# == ChromeFrame (for IE) =================================================
    = yield :chrome_frame

    -# == Menu =================================================================
    %header{ :id => 'menu-top-wrp', :class => 'row' }
      = render 'partials/menu_top'

    -# == Main content =========================================================
    #main-wrp.row= yield

    -# == Footer ===============================================================
    %footer{ :id => 'footer-wrp', :class => 'row full-width' }
      = render 'partials/footer'

    -# == Javascripts ==========================================================
    = javascript_include_tag 'application'
